@charset "ISO-8859-1";

.seakerindex {
	text-align: right !important;
	background: black !important;
	justify-content: end !important;
	padding: 0px;
	align-items: center !important;
}

.homeContent p {
	position: absolute;
	top: 322px;
	width: 379px;
	right: 24px;
	font-size: 20px;
	font-family: cursive;
	font-weight: bold;
	color: black;
	content: 0;
	z-index: 9;
}

.blooddetails {
	position: absolute;
	width: 35%;
	left: 5%;
	top: 10%;
}

.homeContent {
	padding: 0px;
	text-align: justify;
	position: relative;
	line-height: 2;
}

.homeContent img {
	width: 100%;
}

body {
	overflow: hidden;
}